/* CSS for Reset Password Page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #083460;
}

.header {
    position: relative;
    bottom: 170px;
    left: 230px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

form {
    position: relative;
    right: 100px;
    background: #fff;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="password"]:focus {
    border-color: #007bff;
}

button {
    display: block;
    width: 100%;
    background-color: #083460;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #083460;
}

/* Responsive Design */
@media (max-width: 500px) {
    form {
        padding: 20px;
    }

    h2 {
        font-size: 18px;
    }

    input[type="password"], button {
        font-size: 14px;
    }
}
